<dx-data-grid
  #targetDataGrid
  id="grid-form"
  [dataSource]="employees"
  keyExpr="ID"
  [showBorders]="true"
>
  <dxo-data-grid-paging [enabled]="true"></dxo-data-grid-paging>
  <dxo-data-grid-editing
    mode="form"
    [allowUpdating]="true"
    [allowDeleting]="true"
    [allowAdding]="true"
  >
    <dxo-data-grid-form [colCount]="2">
      <dxi-data-grid-item dataField="Prefix"></dxi-data-grid-item>
      <dxi-data-grid-item dataField="FirstName"></dxi-data-grid-item>
      <dxi-data-grid-item dataField="LastName"></dxi-data-grid-item>
      <dxi-data-grid-item dataField="Position"></dxi-data-grid-item>
      <dxi-data-grid-item dataField="Address"></dxi-data-grid-item>
      <dxi-data-grid-item dataField="BirthDate"></dxi-data-grid-item>
      <dxi-data-grid-item itemType="simple" [colSpan]="2">
        <div *dxTemplate>
          <dx-toolbar>
            <dxi-toolbar-item
              toolbar="bottom"
              widget="dxButton"
              location="after"
              [options]="successButtonOptions"
            >
            </dxi-toolbar-item>
            <dxi-toolbar-item
              toolbar="bottom"
              widget="dxButton"
              location="after"
              [options]="cancelButtonOptions"
            >
            </dxi-toolbar-item>
            <dxi-toolbar-item
              toolbar="bottom"
              widget="dxButton"
              location="before"
              [options]="copyButtonOptions"
            >
            </dxi-toolbar-item>
          </dx-toolbar>
        </div>
      </dxi-data-grid-item>
    </dxo-data-grid-form>
  </dxo-data-grid-editing>
  <dxi-data-grid-column dataField="Prefix" caption="Title" [width]="80"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="FirstName"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="LastName"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="Position" [width]="130"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="Address"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="BirthDate" dataType="date" [width]="125"></dxi-data-grid-column>
</dx-data-grid>
