<dx-data-grid
  #targetDataGrid
  id="grid-popup"
  [dataSource]="employees"
  keyExpr="ID"
  [showBorders]="true"
>
  <dxo-data-grid-paging [enabled]="true"></dxo-data-grid-paging>
  <dxo-data-grid-editing
    mode="popup"
    [allowUpdating]="true"
    [allowDeleting]="true"
    [allowAdding]="true"
  >
    <dxo-data-grid-popup [width]="500" [height]="400">
      <dxi-data-grid-toolbar-item
        toolbar="bottom"
        widget="dxButton"
        location="after"
        [options]="successButtonOptions"
      >
      </dxi-data-grid-toolbar-item>
      <dxi-data-grid-toolbar-item
        toolbar="bottom"
        widget="dxButton"
        location="after"
        [options]="cancelButtonOptions"
      >
      </dxi-data-grid-toolbar-item>
      <dxi-data-grid-toolbar-item
        toolbar="bottom"
        widget="dxButton"
        location="before"
        [options]="copyButtonOptions"
      >
      </dxi-data-grid-toolbar-item>
    </dxo-data-grid-popup>
  </dxo-data-grid-editing>
  <dxi-data-grid-column dataField="Prefix" caption="Title" [width]="80"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="FirstName"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="LastName"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="Position" [width]="130"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="Address"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="BirthDate" dataType="date" [width]="125"></dxi-data-grid-column>
</dx-data-grid>
